.auth{
    /* /* left: 50%;
    top: 50%; */
    display: flex; 
    margin-left: auto;
    margin-right: auto;
   
    width: 200px;
    justify-content: center;
    flex-direction: column;
    
    /* table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    margin: auto;
    font-size: 30px;
    width: 500px;
    height: 500px;
    position: absolute; */
    
 }

 .authback{
    justify-content: center;
    /* left: 50%;
    top: 50%; */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    /* margin: auto; */
    
    max-width: 400px;
    position:relative;
    /* filter: blur(4px); */
 }
 
 .row{
     margin-top: 10px;
     margin-bottom: 20px;
     
 }

 .blur{
/* left: 50%;
    top: 50%; */
    /* margin-top: 20px;
    margin-left: auto;
    margin-right: auto; */
    /* margin: auto; */
   justify-content: center;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    margin: auto;
    font-size: 30px;
    max-width: 400px;
    height: 200px;
    position: relative;
    /* filter: blur(4px);  */
 }

 .child1{
    filter: blur(10px);
    width: 400px;
    height: 200px;
    position: absolute;
    background-color: #CCCCFF;

 }